Dispatchers/WcfDispatcher/Cliente/Service References/FwkFileTransfer/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDispatcher.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDispatcher.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/WcfDispatcher/FwkFileTransferService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Fwk.Exceptions" />
  <xs:complexType name="UploadFileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileRequest" nillable="true" type="tns:UploadFileRequest" />
  <xs:complexType name="UploadFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fwk.Exceptions" minOccurs="0" name="Error" nillable="true" type="q1:ServiceError" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadFileResponse" nillable="true" type="tns:UploadFileResponse" />
  <xs:complexType name="DownloadFileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadFileRequest" nillable="true" type="tns:DownloadFileRequest" />
  <xs:complexType name="DownloadFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Fwk.Exceptions" minOccurs="0" name="Error" nillable="true" type="q2:ServiceError" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadFileResponse" nillable="true" type="tns:DownloadFileResponse" />
</xs:schema>